@media (min-width: 681px) {
  header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-button {
    display: none;
  }

  .primary-nav {
    width: auto;
    display: block;
  }

  .primary-nav ul {
    flex-direction: row;
  }

  .vocab-controls {
    grid-template-columns: 1fr 220px auto;
    align-items: end;
  }

  .vocabulary-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
